body {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
	min-width: 320px;
}

#content h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 300; 
	color: #1E448A;
}

#content h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #1E448A;
}

#content p {
	margin: 1em 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 500; 
	line-height: 20px;
}

.margin-backgroundinfo {
	margin-top: 2em !important;
}

#content ul {
	margin: 2em 0;
	padding-left: 0em;
	font-size: 13px;
}

#content ul li {
	margin: 1em 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 500; 
	line-height: 18px;
}

#content dl {
	padding-left: 0em;
	font-size: 14px;
}

#content dl dd {
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

#content button {
	position: relative;
	margin: 1.2em 0;
	padding: .4em .8em;
	border: none;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #fff;
	background-color: #1E448A;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 1s;
	opacity: 0.9;
}

#content button:hover {
	background-color: #1E448A;
	opacity: 1;
}

.questions-info-link {
	text-decoration: none;
	font-size: 14px;
	color: #1E448A;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.questions-info {
	display: none;
}

.questions-info.show-more-info {
	display: block;
}

footer {
	background-color: #1E448A;
	margin: 0;
	padding: 0;
}

	footer p {
		color: #fff;
		margin: 0;
		padding: 1em 40px 0;
		font-size: 16px;
	}

		footer p a {
			color: #ddd;
		}

	footer .orgs {
		display: block;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 1.5vw;
		text-align: center;
	}

		footer .orgs li {
			display: inline-block;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0 1em 0 1em;
		}

		footer .orgs a {
			display: block;
			position: relative;
			width: 12vw;
			height: 8vw;
			max-width: 120px;
			max-height: 80px;
			margin: 0;
			padding: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			transform: scale(0.8);
			opacity: .9;
		}

		footer .orgs a:hover {
			opacity: 1;
			transform: scale(0.9);
			z-index: 5;
			transition: opacity .5s, transform .5s, background-color .5s, filter .5s;
		}


		footer .orgs a[title*='Braunschweig'] { background-image: url(../images/orgs/logo_og_bs_weiss.svg); }
		footer .orgs a[title*='Freie Bildung'] { background-image: url(../images/orgs/logo_bfb_weiss.svg); }
		footer .orgs a[title^='Chaos'] { background-image: url(../images/orgs/logo_ccc_weiss.svg); }
		footer .orgs a[title^='digitalcourage'] { background-image: url(../images/orgs/logo_dc_weiss.png); }
		footer .orgs a[title^='Digitale'] { background-image: url(../images/orgs/logo_digiges_weiss.svg); }
		footer .orgs a[title^='Freifunk'] { background-image: url(../images/orgs/logo_freifunk_weiss.svg); }
		footer .orgs a[title^='Open'] { background-image: url(../images/orgs/logo_okfde_weiss.svg); }
		footer .orgs a[title^='Wikimedia'] { background-image: url(../images/orgs/logo_wikimedia_weiss.svg); }
		footer .orgs a[title^='Mozilla'] { background-image: url(../images/orgs/logo_mozilla_weiss.svg); }
		footer .orgs a[title^='Whistleblower'] { background-image: url(../images/orgs/logo_WBNW_weiss.png); }
		footer .orgs a[title^='Wau Holland Stiftung'] { background-image: url(../images/orgs/whs_logo_white.png); }

	footer .copyright-notice {
		font-size: 13px;
		color: #ccc;
		padding-bottom: 2em;
	}

		footer .copyright-notice a {
			color: #ddd;
		}

.more-info-button {
	color: #fff;
	background-color: #1E448A;
	text-decoration: none;
	padding: 0.2em 0.2em !important;
	margin: 10px 0 !important;
	white-space: nowrap;
	opacity: 0.9;
	font-size: 1em !important;
}

	.more-info-button:hover {
		color: #fff;
		background-color: #1E448A;
		opacity: 1;
	}

	.less-info-button {
		color: #fff;
		background-color: #1E448A;
		text-decoration: none;
		padding: 0.2em 0.2em !important;
		margin: 10px 0 !important;
		white-space: nowrap;
		font-size: 1em !important;
		opacity: 0.9;
		display: none;
	}

	.less-info-button:hover {
		color: #fff;
		background-color: #1E448A;
		opacity: 1;
	}

.noscript-message {
	color: #f00;
}

.comparison-wrapper {
	margin-top: 1.5em;
}

.blockquote-color {
	color: gray;
}

.image-margin {
	margin: 2em 0em 0em 2em;
}

.donut-chart-margin {
	margin: 1.5em 0 1.5em 0;
}

@media (max-width: 959px) { 
	.wrapper {
		margin-top: 3em;
	}

	header {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		height: 3em;
	}
	
	#logo {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 3em;
		width: 50vw;
		cursor: pointer;
	}
	
	#logo::after {
		display: block;
		position: absolute;
		content: "";
		top: 0px;
		left: 0px;
		height: 3em;
		width: 60vw;
		background: url(../images/logo_digitalomat-mobil.svg) left top no-repeat;
		background-size: contain;
	}

	#burger {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		line-height: 1.5em;
		font-size: 2em;
		color: #fff;
		text-decoration: none;
	}

	.logo {
		background-image: url('../images/Digital-o-mat_Europa2019_header.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 3.5em;
	}

	#menu {
		font-family: "Raleway", sans-serif;
		display: block;
		position: absolute;
		top: 3.5em;
		left: 0;
		right: 0;
		background-color: #1d3671;
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: height .5s, opacity .2s;
	}
	
		.show-menu #menu {
			height: max-content;
			opacity: 1;
			z-index: 10;
		}
	
		#menu ul {
			display: block;
			position: relative;
			margin: 0;
			padding: 1em 2em 2em;
			list-style: none;
		}

		#menu ul li {
			display: block;
			position: relative;
		}

		#menu ul li a {
			display: block;
			position: relative;
			height: 34px;
			line-height: 34px;
			text-decoration: none;
			color: #fff;
			background-color: transparent;
			padding: 0 .4em;
			transition: background-color .5s;
		}

	#notFound {
		display: block;
		position: relative;
		padding: 1em 2em;
	}
	
	#intro {
		display: block;
		position: relative;
		min-height: 100vh;
		padding: 1em 2em;
	}
	
	#intro img {
		width: 90%;
		margin: 2em auto 0;
		max-width: 400px;
	}
	
	#questionsView {
		display: block;
		position: relative;
		min-height: 100vh;
		padding: 1em 2em;
		margin-bottom: 5em;
	}	
	
	.question-wrapper {
		width: 100%;
		margin: 2em -10px;
		padding: 10px 10px;
		min-height: 300px;
		background-color: rgba(0, 0, 0, 0.04);
	}

	.question-title {
		left: 20px;
		right: 20px;
		bottom: 40%;
	}

	.question-big-number {
		display: none;
	}

	.question-label {
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		color: #1E448A;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.question-small-number {
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		font-size: 1.2em;
		color: #1E448A;
		margin-right: .25em;
	}
	
	.questions-info-link {
		color: #1E448A;
		text-decoration: none;
	}

	.questions-info-link:hover {
		color: #1E448A;
	}
	
	.radio-button-wrapper {
		margin-top: 2em;
	}

		.radio-button-group {
			display: inline-block;
			position: relative;
			width: 32%;
			max-width: 100px;
			height: 45px;
			margin: 0;
			padding: 0;
		}
	
			.radio-button-group input {
				display: none;
			}

			.radio-button-group label {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor: pointer;
				background-position: top center;
				background-size: 30px;
				background-repeat: no-repeat;
				background-image: url(../images/radio_darkgray.svg);
				transition: background-image .5s;
			}
		
			.radio-button-group input:checked[value="2"]+label {
				background-image: url(../images/radio_darkgray_x.svg);
			}
		
			.radio-button-group input:checked[value="1"]+label {
				background-image: url(../images/radio_darkgray_x.svg);
			}
		
			.radio-button-group input:checked[value="0"]+label {
				background-image: url(../images/radio_darkgray_x.svg);
			}
		
			.radio-button-group-label {
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				font-family: "Open Sans", sans-serif;
				font-weight: 300;
				font-size: 11px;
				text-align: center;
				line-height: 1em;
			}	

	#comparison {}

		#comparison ol {
			display: block;
			position: relative;
			margin: 3em 0;
			padding: 0;
			list-style: none;
		}

		#comparison ol li {
			display: block;
			position: relative;
			margin: 18px 0;
			padding: 0;
			list-style: none;
			height: 18px;
			line-height: 18px;
		}
	
		#comparison ol li h4 {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 80px;
			margin: 0;
			padding: 0;
			line-height: 13px;
			font-size: 13px;
			font-family: "Open Sans", sans-serif;
			font-weight: 500;
		}
	
		#comparison ol li p {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 80px;
			margin: 0;
			padding: 0;
			line-height: 18px;
			font-size: 18px;
			background-color: #D3D3D3;
		}
	
		#comparison ol li p .percentage-bar {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background-color: #1E448A;
			line-height: 18px;
			margin: 0;
			padding: 0;
		}

		#comparison ol li p .percentage-label {
			display: block;
			position: absolute;
			left: 1em;
			top: 0;
			bottom: 0;
			color: #fff;
			line-height: 18px;
			font-size: 13px;
			font-family: "Open Sans";
			font-weight: 500;
			margin: 0;
			padding: 0;
		}

	#detail {}
	
		#detail .detail-table {
			display: block;
			position: relative;
			margin: 2em 0;
			padding: 0;
			list-style: none;
		}
	
		#detail .detail-table h3 {
			display: block;
			position: relative;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 21px;
			line-height: 24px;
			color: #1E448A;
			margin: 0;
			padding: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	
		#detail .detail-table h3 span {
			display: inline-block;
			font-family: "Open Sans", sans-serif;
		}
	
		#detail .answers {
			display: block;
			position: relative;
			margin: 2em 0;
			padding: 0;
			list-style: none;
		}

		#detail .answers .answer {
			display: block;
			position: relative;
			margin: 10px -10px;
			padding: 10px;
			box-shadow: 0 0 0 1px #f0f2f4 inset;
		}
	
		#detail .answers .answer.selected {
			background-color: #f5f6f7;
			box-shadow: 0 0 0 1px #1E448A inset;
		}

		#detail .answers .answer.selected .you {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		
			margin: 0;
			padding: 0 10px;
		
			height: 30px;
			line-height: 30px;
			font-size: 13px;
			font-family: "Raleway", sans-serif;
			font-weight: 700;
		
			background-color: #1E448A;
			color: #fff;
			
			border-bottom-left-radius: 3px;
		}
	
		#detail .answers .answer h4 {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			font-family: "Open Sans", sans-serif;
			font-size: 13px;
			font-weight: 500; 
			line-height: 20px;
			padding-left: 27px;
			background-position: left center;
			background-size: 20px;
			background-repeat: no-repeat;
		}
	
		#detail .answers .answer h4.type-2 {
			background-image: url(../images/radio_darkgray_x.svg);
		}
		
		#detail .answers .answer h4.type-1 {
			background-image: url(../images/radio_darkgray_x.svg);
		}
		
		#detail .answers .answer h4.type-0 {
			background-image: url(../images/radio_darkgray_x.svg);
		}

		#detail .answers .answer blockquote,
		#detail .answers .answer p {
			display: none;
			opacity: 0;
			transition: .5s opacity;
		}
		
		#detail .parties .party.explanation.show-explanation {
			margin: 0 -10px;
			padding: 0 10px;
		}
		
		#detail .parties .party.explanation.show-explanation blockquote {
			display: block;
			position: relative;
			margin: 0;
			padding: .5em 0 2em;
			font-family: "Open Sans", sans-serif;
			font-size: 13px;
			font-weight: 500; 
			line-height: 18px;
			opacity: 1;
		}
		
		#detail .parties {
			display: block;
			position: relative;
			margin: 0;
			padding: 15px 0 10px;
			list-style: none;
		}

		#detail .parties .party {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
		}
		
		#detail .parties .party.no-party {
			font-size: .8em;
			text-align: center;
		}
	
		#detail .parties .party h5 {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			font-size: 1em;
			line-height: 1.6em;
			font-family: "Open Sans", sans-serif;
			font-weight: 500;
		}

		#detail .parties .party.explanation h5 {
			cursor: pointer;
		}

		#detail .parties .party.explanation h5 i {
			display: inline-block;
			position: relative;
			opacity: .7;
			transition: .5s transform;
		}
		
		#detail .parties .party.explanation.show-explanation h5 i {
			-webkit-transform: rotate(-180deg);
			-moz-transform: rotate(-180deg);
			-ms-transform: rotate(-180deg);
			-o-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}

	#aboutDoM {
		margin: 5em 2em;
	}

		#aboutDoM a {
			color: #1E448A;
			text-decoration: none;
		}
		
	#orgs {
		margin: 5em 2em;
	}
	
		#orgs .org {
			display: block;
			margin: 1em 0 3em;
			position: relative;
			padding: 0;
		}

		#orgs .org h3 {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			font-family: "Raleway", sans-serif;
			font-size: 21px;
			line-height: 24px;
			font-weight: 300;
		}
	
		#orgs .org h3 a {
			color: #1E448A;
			text-decoration: none;
		}

		#orgs .org p a {
			color: #1E448A;
			text-decoration: none;
		}
	
		#orgs .org img {
			display: block;
			position: relative;
			max-width: 50%;
			margin: 1em 0;
		}
	
	#imprint {
		margin: 5em 2em;
	}
	
		#imprint a {
			color: #1E448A;
			text-decoration: none;
		}
	
	#privacy {
		margin: 5em 2em;
	}
	
		#privacy h3 {
			display: block;
			position: relative;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 18px;
			line-height: 22px;
			color: #1E448A;
			margin: 1em 0 .5em;
			padding: 0;
		}
	
		#privacy a {
			color: #1E448A;
			text-decoration: none;
		}
	
	footer {
		margin-top: 3em !important;
	}
		
	footer .orgs a {
		width: 30vw !important;
		height: 20vw !important;
	}
}

@media (max-width: 520px) {	
	#header #logo::after {
		display: block;
		position: absolute;
		content: "";
		top: 0px;
		left: 0px;
		height: 3em;
		width: 60vw;
		background: url(../images/logo_digitalomat-mobil.svg) left center no-repeat;
		background-size: contain;
	}
}

@media (min-width: 960px) {
	header {}
	
		header p {
			display: none;
		}
	
		#burger {
			display: none;
		}

		.logo {
			background-image: url('../images/Digital-o-mat_Europa2019_header.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 5em;
		}

		#menu {
			display: block;
			position: relative;
			margin: 0;
			padding: 0px 40px;
			min-height: 35px;
			background-color: #1d3671;
		}
	
			#menu p {
				display: block;
				position: relative;
				float: left;
				margin: 0;
				padding: 0;
				line-height: 35px;
				min-height: 35px;
				font-family: "Raleway", sans-serif;
				font-size: 14px;
				color: #bfe9f3;
			}
		
			#menu ul {
				display: block;
				position: relative;
				margin: 0 -.4em;
				padding: 0;
				min-height: 35px;
				line-height: 35px;
				list-style: none;
				text-align: right;
				float: right;
				font-size: 14px;
			}
	
			#menu ul li {
				display: block;
				position: relative;
				float: left;
				font-family: "Raleway", sans-serif;
				font-size: 16px;
			}

			#menu ul li a {
				display: block;
				position: relative;
				height: 35px;
				line-height: 35px;
				text-decoration: none;
				color: #fff;
				background-color: transparent;
				padding: 0 0.6em;
				transition: background-color .4s;
			}

			#menu li a:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		
			#menu::after {
				display: block;
				content: " ";
				clear: both;
			}
	
		#logo {
			display: block;
			position: absolute;
			left: 10px;
			top: 10px;
			cursor: pointer;
		}

		#logo::after {
			display: block;
			content: "";
			height: 3em;
			width: 30vw;
			background: url(../images/logo_digitalomat-mobil.svg) left top no-repeat;
			background-size: contain;
		}

	#content {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		padding: 40px 40px 100px;
	}

		#content h2 {
			margin: 0;
			padding: 0;
			font-family: "Raleway", sans-serif;
			font-size: 24px;
			font-weight: 300; 
			line-height: 30px;
			color: #1E448A;
		}
		
		#content p+h2 {
			margin-top: 3em;
		}

		#intro {
			margin-bottom: 100px;
		}
		
			#intro .row {
				display: block;
				position: relative;
				width: 50%;
				float: left;
			}

			#intro::after {
				display: block;
				content: " ";
				clear: both;
			}

/* Questions */
		.question-wrapper {
			display: block;
			position: relative;
			width: 100%;
			margin: 4vw 0;
			padding: 0;
			min-height: 75px;
		}
	
		.question-title {
			display: block;
			position: relative;
			margin-right: 320px;
			padding-left: 8vw;
		}
	
		.question-big-number {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 8vw;
			text-align: center;
			font-family: "Open Sans", sans-serif;
			font-weight: 300;
			font-size: 56px;
			line-height: .7em;
			color: #1E448A;
		}
	
		.question-label {
			display: block;
			position: relative;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 21px;
			line-height: 24px;
			color: #1E448A;
			margin: 0;
			padding: 0;
		}
		
		.question-small-number {
			display: none;
		}
		
		.questions-info-link {
			color: #1E448A;
			text-decoration: none;
		}

		.questions-info-link:hover {
			color: #1E448A;
		}

		.radio-button-wrapper {
			display: block;
			position: absolute;
			right: 0;
			top: 10px;
			margin: 0;
			padding: 0;
			width: 300px;
		}
	
			.radio-button-group {
				display: block;
				position: relative;
				width: 100px;
				height: 55px;
				margin: 0;
				padding: 0;
				float: left;
			}
		
				.radio-button-group input {
					opacity: 0;
				}

				/*Adding focus styles on the outer-box of the custom radio button*/
				.radio-button-group input:focus+label {
					outline: -webkit-focus-ring-color auto 5px;
				}

				.radio-button-group label {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					cursor: pointer;
					background-position: top center;
					background-size: 30px;
					background-repeat: no-repeat;
					background-image: url(../images/radio_darkgray.svg);
					transition: background-image .5s;
				}
			
				.radio-button-group input:checked[value="2"]+label {
					background-image: url(../images/radio_darkgray_x.svg);
				}
			
				.radio-button-group input:checked[value="1"]+label {
					background-image: url(../images/radio_darkgray_x.svg);
				}
			
				.radio-button-group input:checked[value="0"]+label {
					background-image: url(../images/radio_darkgray_x.svg);
				}
			
				.radio-button-group-label {
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					font-family: "Open Sans", sans-serif;
					font-weight: 300;
					font-size: 12px;
					text-align: center;
					line-height: 1.5em;
				}
		
		#comparison {
			margin: 5em 0;
		}

			#comparison ol {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				list-style: none;
			}

			#comparison ol li {
				display: block;
				position: relative;
				margin: 18px 0;
				padding: 0;
				list-style: none;
				height: 18px;
				line-height: 18px;
			}
		
			#comparison ol li h4 {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 145px;
				margin: 0;
				padding: 0;
				line-height: 18px;
				font-size: 18px;
				font-family: "Open Sans", sans-serif;
				font-weight: 500;
			}
		
			#comparison ol li p {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 150px;
				margin: 0;
				padding: 0;
				line-height: 18px;
				font-size: 18px;
				background-color: #D3D3D3;
			}
		
			#comparison ol li p .percentage-bar {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: #1E448A;
				line-height: 18px;
				margin: 0;
				padding: 0;
			}

			#comparison ol li p .percentage-label {
				display: block;
				position: absolute;
				left: 1em;
				top: 0;
				bottom: 0;
				color: #fff;
				line-height: 18px;
				font-size: 13px;
				font-family: "Open Sans";
				font-weight: 500;
				margin: 0;
				padding: 0;
			}
		
		#detail {}
		
			#detail .detail-table {
				display: block;
				position: relative;
				margin: 2em 0;
				padding: 0;
				list-style: none;
			}
		
			#detail .detail-table h3 {
				display: block;
				position: relative;
				font-family: "Raleway", sans-serif;
				font-weight: 300;
				font-size: 21px;
				line-height: 24px;
				color: #1E448A;
				margin: 1.5em 0 0;
				padding: 0;
			}
		
			#detail .detail-table h3 span {
				display: inline-block;
				font-family: "Open Sans", sans-serif;
			}
		
			#detail .answers {
				display: block;
				position: relative;
				margin: 2em 0;
				padding: 0;
				list-style: none;
			}

			#detail .answers .answer {
				display: inline-block;
				position: relative;
				vertical-align: top;
				width: 260px;
				margin: 0;
				padding: 30px 15px 15px;
			}
		
			#detail .answers .answer.selected {
				background-color: #f5f6f7;
			}

			#detail .answers .answer.selected .you {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0 15px;
				height: 20px;
				line-height: 20px;
				font-size: 13px;
				font-family: "Raleway", sans-serif;
				font-weight: 700;
				background-color: #1E448A;
				color: #fff;
			}
		
			#detail .answers .answer h4 {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				font-weight: 500; 
				line-height: 20px;
				padding-left: 27px;
				background-position: left center;
				background-size: 20px;
				background-repeat: no-repeat;
			}
		
			#detail .answers .answer h4.type-2 {
				background-image: url(../images/radio_darkgray_x.svg);
			}
			
			#detail .answers .answer h4.type-1 {
				background-image: url(../images/radio_darkgray_x.svg);
			}
			
			#detail .answers .answer h4.type-0 {
				background-image: url(../images/radio_darkgray_x.svg);
			}
			
			#detail .answers .answer blockquote,
			#detail .answers .answer p {
				display: none;
				position: relative;
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				font-weight: 500; 
				line-height: 18px;
			}
			
			#detail .answers .answer .show-explanation blockquote,
			#detail .answers .answer .show-explanation p {
				display: block;
				cursor: auto;
				margin-bottom: 3em;
			}
		
			#detail .parties {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				list-style: none;
			}

			#detail .parties .party {
				display: block;
				position: relative;
			}

			#detail .parties .party.explanation {
				cursor: pointer;
			}
			
			#detail .parties .party h5 {
				display: block;
				position: relative;
				margin: .5em 0;
				padding: 0;
				line-height: 24px;
				font-size: 18px;
				font-family: "Open Sans", sans-serif;
				font-weight: 500;
			}
			
			#detail .parties .party.explanation h5 i {
				display: inline-block;
				position: relative;
				opacity: .7;
				transition: .5s transform;
			}
			
			#detail .parties .party.explanation.show-explanation h5 i {
				-webkit-transform: rotate(-180deg);
				-moz-transform: rotate(-180deg);
				-ms-transform: rotate(-180deg);
				-o-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}

		#aboutDoM {}
			#aboutDoM a {
				color: #1E448A;
				text-decoration: none;
			}

		#orgs {}

			#orgs .org {
				display: block;
				position: relative;
				margin: 3em 0;
				padding: 0 0 0 12em;
			}

			#orgs .org h3 {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				font-family: "Raleway", sans-serif;
				font-size: 21px;
				line-height: 24px;
				font-weight: 300;
			}
		
			#orgs .org h3 a {
				color: #1E448A;
				text-decoration: none;
			}

			#orgs .org p a {
				color: #1E448A;
				text-decoration: none;
			}
		
			#orgs .org img {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				max-width: 165px;
				margin-top: 3px;
			}
		
		#imprint {}
		
			#imprint a {
				color: #1E448A;
				text-decoration: none;
			}
		
		#privacy {}
		
			#privacy h3 {
				display: block;
				position: relative;
				font-family: "Raleway", sans-serif;
				font-weight: 300;
				font-size: 18px;
				line-height: 22px;
				color: #1E448A;
				margin: 1em 0 .5em;
				padding: 0;
			}
		
			#privacy a {
				color: #1E448A;
				text-decoration: none;
			}
